#blog-intro .row {
    margin: 0;
}

#blog-intro .row h1 {
    font-size: 50px;
}

#blog-intro .row p {
    max-width: 720px;
    text-align: center;
}

#blog-intro .blog-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: var(--light-grey);
    padding: 10px 30px;
    border-radius: 9px;
}

#blog-intro .blog-filter a {
    color: var(--primary-faded);
}

#blog-intro .blog-filter a.active {
    color: var(--primary);
    text-decoration: underline;
}

#blog-intro .blog-filter a:hover {
    text-decoration: underline;
}

#blog-content {
    background-color: var(--light-grey);
    min-height: 70vh;
    justify-content: flex-start;
}

#blog-content .row {
    max-width: 1200px;
    margin: 0;
    padding: 30px;
    gap: 20px;
    flex-flow: row wrap;
}

#blog-content .blog-post-listing {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: var(--box-shadow-dark);
    width: calc((100% / 3) - 20px);
}

#blog-content .blog-post-listing .col {
    padding: 0;
    margin: 0;
    width: 100%;
}

#blog-content .blog-post-listing img {
    width: 100%;
    height: auto;
}

#blog-content .blog-post-listing .col:nth-child(2) {
    padding: 20px;
}

#myTopnav .topnav-content a:hover {
    text-decoration: none;
}


/* WAIT UNTIL MORE BLOGS */
#blog-intro .blog-filter.hidden {
    display: none;
}

@media (max-width: 800px) {
    #blog-content .row {
        flex-direction: column;
        padding: 0 30px;
    }

    #blog-content .blog-post-listing {
        width: 100%;
    }

}