:root {
    --background-dark: #12141d;
    --background-dark-accent: #1e2029; 
}

#myTopnav {
    background-color: var(--background-dark);
}

#hero-section {
    background-color: var(--background-dark);
    height: 60vh;
}

#hero-section .row {
    align-items: flex-start;
    gap: 20px;
    padding: 0 60px;
}

#hero-section * {
    color: var(--white);
}

#hero-section h1 {
    font-size: 70px;
}

#hero-section p {
    font-size: 28px;
}

#hero-section .primary-btn {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    border-radius: 9px;
    padding: 15px 50px;
}

.section .row {
    gap: 60px;
}

.section .row .col {
    margin: 0;
}

.section .row img {
    border-radius: 12px;
}

#review .row {
    align-items: flex-start;
}

#review .reviews-wrapper-right {
    width: 50%;
}

#review .reviews-wrapper-right .reviews-quote {
    font-size: 28px;
}

#cta {
    background-color: var(--background-dark-accent);
}

#cta .row {
    gap: 20px;
}

#footer {
    background-color: var(--background-dark);
}

#footer .footer-nav-row {
    border-top-color: var(--background-dark-accent);
}


@media all and (max-width: 540px) {
    #hero-section h1 {
        font-size: 30px;
    }

    #hero-section .primary-btn {
        font-size: 20px;
    }

    #services .row:nth-child(2) {
        padding: 0 30px;
    }

    #services .row .project-post {
        width: 100%;
    }

    #review .reviews-wrapper-right {
        width: 100%;
    }

    #review .reviews-wrapper-right .reviews-quote {
        font-size: 18px;
    }

    #myTopnav .small-menu-content .primary-btn {
        margin-left: 0;
        margin-top: 20px;
    }
}