:root {
    --background-dark: #12141d;
    --background-dark-accent: #1e2029; 
}

.section {
    z-index: 1;
}

.section.dark {
    background-color: var(--background-dark);
    color: var(--white);
}

.section.grey {
    background-color: var(--light-grey);
}

.section.large .row {
    padding: 60px 0;
}

.section.large .row .primary-btn {
    font-size: 18px;
    border-radius: 9px;
    padding: 15px 50px;
    margin: auto;
    margin-top: 8px;
}

#myTopnav {
    background-color: var(--background-dark);
}

#hero-section {
    background-color: var(--background-dark);
    /* position: relative; */
    height: 70vh;
    overflow: unset;
    padding: 20px 0;
}

#hero-section .row {
    align-items: flex-start;
    gap: 20px;
}

#hero-section .col:nth-child(1) * {
    color: var(--white);
}

#hero-section .row .col:nth-child(1) {
    width: 60%;
}

#hero-section .row .col:nth-child(2) {
    width: 40%;
}

#hero-section h1 {
    font-size: 40px;
}

#hero-section h2 {
    font-size: 20px;
    color: var(--primary);
    text-align: center;
}

#hero-section p {
    font-size: 18px;
}

#hero-section img {
    width: 300px;
    height: auto;
    opacity: 0.3;
}

#hero-section .primary-btn {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    border-radius: 9px;
    padding: 10px 30px;
    margin: auto;
    margin-top: 8px;
    color: var(--white);
}

#hero-section .contact-form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 30px;
    border-radius: 12px;
    /* position: absolute; */
    margin-bottom: -60px;
}

.contact-form input {
    width: 100%;
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 9px;
    border: 1px solid var(--primary);
    font-size: 14px;
    color: var(--black);
}

#hero-section .contact-form label {
    color: var(--black);
    font-weight: 700;
    margin-top: 10px;
    font-size: 12px;
}

.contact-form input:focus-visible {
    border: 3px solid var(--primary);
    outline: none;
}

.small-headline {
    text-transform: uppercase;
    color: var(--secondary)!important;
    font-size: 14px!important;
}

#social-proof {
    background-color: var(--background-dark-accent);
}

#social-proof .row {
    align-items: flex-start;
    padding: 0 30px;
    margin: 40px auto;
}

#social-proof .row p,
#social-proof .row span {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--white);
}

#cases {
    background-color: var(--light-grey);
}

#cases .cases-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
}

#cases .cases-wrapper .cases-item > * {
    text-align: center;
}

#cases .cases-wrapper .cases-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background-color: var(--white);
    padding: 40px;
    border-radius: 12px;
}

#cases .cases-wrapper .cases-item h4,
#cases .cases-wrapper .cases-item p {
    color: var(--black);
}

#cases .cases-wrapper .cases-item .body {
    font-size: 16px;
}

#cases .cases-wrapper .cases-item h4 {
    margin-top: 40px;
    text-transform: uppercase;
}

#cases .cases-wrapper .cases-item .role {
    font-size: 14px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}

#cases .cases-wrapper .cases-item img {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    margin-top: -110px;
}

@media (max-width: 768px) {
    #cases .cases-wrapper {
        flex-direction: column;
        padding: 0 30px;
    }

    #cases .cases-wrapper .cases-item {
        width: 100%;
    }
}

@media all and (max-width: 720px) {
    #hero-section .row h1 {
        font-size: 30px;
    }


    #hero-section .row.f-row {
        margin-top: 0!important;
    }

    .section .row {
        flex-direction: column;
        padding: 0;
    }

    .section.large .row {
        padding: 0 30px;
        text-align: center;
    }

    .section .row .col {
        width: 100%;
        margin: unset;
    }

    #social-proof .row {
        align-items: center;
    }

    #social-proof .row .large,
    #social-proof .row span {
        font-size: 20px;
    }

    .section.large .row .primary-btn {
        font-size: 14px;
        padding: 15px 40px;
    }
}

@media all and (max-width: 1070px) {
    #hero-section {
        position: unset;
        height: unset;
    }

    #hero-section .row .col:nth-child(1),
    #hero-section .row .col:nth-child(2) {
        width: 100%;
    }

    #hero-section .col:nth-child(1) img {
        display: none;
    }

    #hero-section .contact-form {
        position: unset;
    }


}