/* PROJECTS */
#projects {
    background-color: var(--light-grey);
}

#projects .row {
    gap: 20px;
}

#projects .project-post {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 12px;
    border-bottom: 3px solid #dfdfdf;
}

#projects .row .project-post .col {
    width: 100%;
    margin: unset;
    padding: unset;
}

#projects .row .project-post .col:nth-child(2) {
    padding: 20px;
}

#projects .project-post img {
    width: 100%;
}

#projects .project-post h5 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
}

#projects .project-post p {
    font-family: Poppins;
    font-size: 14px;
}