/* PROJECTS */
#projects,
#services {
    background-color: var(--light-grey);
}

#projects .row,
#services .row {
    gap: 20px;
}

#projects .project-post,
#services .project-post {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 12px;
    border-bottom: 3px solid #dfdfdf;
}

#projects .row .project-post .col,
#services .row .project-post .col {
    width: 100%;
    margin: unset;
    padding: unset;
}

#projects .row .project-post .col:nth-child(2),
#services .row .project-post .col:nth-child(2) {
    padding: 20px;
}

#projects .project-post img,
#services .project-post img {
    width: 100%;
}

#projects .project-post h5,
#services .project-post h5 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
}

#projects .project-post p,
#services .project-post p {
    font-family: Poppins;
    font-size: 14px;
}

/* ADD PROJECT TEMPLATE */
.project-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
}

.project-wrapper .col {
    width: unset;
    margin: unset;
    padding: unset;
}

.project-wrapper .col:nth-child(1) {
    margin: 0;
    padding: 0;
}

.project-wrapper .col:nth-child(2) {
    padding: 20px;
}





/* ADD SLIDER */