@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary: #0167ff;
    --primary-faded: #0167ff70;
    --secondary: #01c9f5;
    --background: #12141d;
    --background-accent: #1e2029;

    --white: #fff;
    --light-grey: #f5f5f5;
    --black: #000;
    --box-shadow: 20px 0 60px rgb(14 27 56 / 15%);
    --box-shadow-dark: 0px 6px 15px 5px rgb(14 27 56 / 30%);
    --transition: all .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.section h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
}

.section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--white);
    margin-bottom: 20px;
}

.section h3 {

}

.section a {

}

.section p {
    font-size: 18px;
    color: var(--white);
}

.section p.grey {
    opacity: 0.5;
}

.section .small-headline {
    color: var(--primary);
    font-size: 22px;
    margin-bottom: 10px;
    opacity: 1;
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 9px;
}

.section {
    padding: 0 30px;
}

.section .row {
    display: flex;
    flex-flow: row wrap;
    max-width: 1296px;
    margin: 60px auto;
    padding: 80px;
    border-radius: 26px;
    background-color: var(--background-accent);
}

.section .row .col {
    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 0 30px;
    flex: 1 0 400px;
}

.section .row.flex-col {
    flex-direction: column;
}

.section .row.center h2,
.section .row.center p {
    text-align: center;
}

.section .row .primary-btn {
    margin-top: 20px;
}

.section .row.center .primary-btn {
    margin-right: auto;
    margin-left: auto;
}

.primary-btn {
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 9px;
    padding: 10px 15px;
    transition: var(--transition);
}

.primary-btn:hover {
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
}

#header .row {
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
    width: 100%;
}

#header .logo,
#footer .logo {
    width: 125px;
}

#header .container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#header .container .nav {
    color: var(--white);
    opacity: 0.5;
    font-weight: 700;
    text-decoration: none;
    transition: var(--transition);
}

#header .container .nav:hover {
    opacity: 1;
    transition: var(--transition);
}

#header .primary-btn {
    margin-top: 0;
}

#header .topnav-content-sm {
    display: none;
}

#header .small-menu-wrapper {
    display: none;
}


#footer .row {
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 80px;
    width: 100%;
}

#footer .row .legal {
    color: var(--white);
    opacity: 0.5;
    font-size: 14px;
}

#hero .subheadline {
    margin: 20px 0;
}

#hero .sub {
    font-size: 26px;
    font-weight: 700;
    color: var(--white);
    opacity: 0.5;
}

#hero .focus {
    font-size: 26px;
    color: var(--white);
    font-weight: 700;
    opacity: 1;
}

#hero .form-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 20px 0 0 0;
}

#hero .form-wrapper input {
    flex: 1;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px none var(--black);
    border-radius: 9px;
    height: 60px;
    outline: none;
    
    font-size: 18px;

    transition: background-color 200ms ease;
}

#hero .form-wrapper input:focus {
    background-color: hsla(0, 0%, 100%, 0.25);
    color: #fff;
}

#hero .form-wrapper input.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    transition: var(--transition);
    margin-top: 0;
}

#hero .form-wrapper input.primary-btn:hover {
    transform: scale(1.02);
}

#hero .logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#hero .logo-wrapper img {
    max-width: 200px;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

#services .services-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
}

#services .services-wrapper .item {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 12px;
    padding: 20px;
    flex: 1 0 200px;
}

#services .services-wrapper .item img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

#services .services-wrapper .item h3,
#services .services-wrapper .item p {
    color: var(--white);
    text-align: center;
}

#services .services-wrapper .item h3 {
    font-weight: 700;
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
}

#services .services-wrapper .item p {
    opacity: 0.5;
}

#services .services-wrapper .item a {
    color: var(--primary);
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    transition: var(--transition);
}

#services .services-wrapper .item a:hover {
    text-decoration: underline;
    transition: var(--transition);
}

#review .row,
#review .row .col {
    padding: 0;
}

#review .col:nth-child(1) {
    padding-right: 30px;
}

#review .col:nth-child(2) {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#review p {
    opacity: 1;
}

#review .review-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}

#review .video-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
}

#review .review-quote {
    color: var(--white);
    font-weight: 700;
}

#review .focus {
    color: var(--primary);
    font-weight: 700;
}

#review .review-quote,
#review .focus {
    font-size: 46px;
}

#review .review-author {
    font-size: 18px;
    color: var(--white);
    opacity: 0.5;
}

/* FAQ */
#faq .row:nth-child(1) {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
    justify-content: flex-start;
}

#faq .row:nth-child(2) {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

#faq .row h2 {
    font-size: 40px;
}

#faq .row {
    background-color: transparent;
}

#faq .accordion-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#faq .accordion-list .accordion-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-accent);
    padding: 30px 20px;
    border-radius: 12px;
}

#faq .accordion-list .accordion-item:hover {
    cursor: pointer;
}

#faq .accordion-list .accordion-item .accordion-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#faq .accordion-list .accordion-item .accordion-head h5 {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    opacity: 0.5;
    transition: var(--transition);
}

#faq .accordion-list .accordion-item .accordion-head.active h5 {
    opacity: 1;
    transition: var(--transition);
}

#faq .accordion-list .accordion-item .accordion-head .icon {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    background-color: hsla(0, 0%, 100%, 0.1);
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#faq .accordion-list .accordion-item .accordion-head .icon:hover {
    cursor: pointer;
}

#faq .accordion-list .accordion-item .accordion-head .icon.active {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(90deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

#faq .accordion-list .accordion-item .accordion-body {
    display: none;
}

#faq .accordion-list .accordion-item .accordion-body.active {
    display: block;
}

#faq .accordion-list .accordion-item .accordion-body p {
    font-size: 16px;
    margin-top: 20px;
    color: var(--white);
    opacity: 0.5;
}

@media (max-width: 768px) {
    #header .row {
        display: none;
    }

    #header .topnav-content-sm {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    #header .small-menu-wrapper {
        display: none;
        background-color: var(--background-accent);
        padding: 10px 0;
        margin-top: 10px;
        border-radius: 26px;
    }

    #header .small-menu-wrapper.active {
        display: block;
    }

    #header .topnav-content-sm i {
        font-size: 30px;
        color: var(--white);
    }

    #header .small-menu-content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        gap: 5px;
    }

    #header .small-menu-content a {
        color: var(--white);
        text-decoration: none;
    }


    #faq .row h2 {
        font-size: 26px;
    }
}