@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary: #0167ff;
    --primary-faded: #0167ff70;
    --secondary: #01c9f5;
    --background: #12141d;
    --background-accent: #1e2029;

    --white: #fff;
    --light-grey: #f5f5f5;
    --black: #000;
    --box-shadow: 20px 0 60px rgb(14 27 56 / 15%);
    --box-shadow-dark: 0px 6px 15px 5px rgb(14 27 56 / 30%);
    --transition: all .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.section h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    color: var(--white);
}

.section h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--white);
}

.section h3 {

}

.section a {

}

.section p {
    font-size: 18px;
    color: var(--white);
    opacity: 0.5;
}

.section .small-headline {
    color: var(--primary);
    font-size: 22px;
    margin-bottom: 10px;
    opacity: 1;
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 9px;
}

.section {
    padding: 0 30px;
}

.section .row {
    display: flex;
    flex-flow: row wrap;
    max-width: 1296px;
    margin: 60px auto;
    padding: 80px;
    border-radius: 26px;
    background-color: var(--background-accent);
}

.section .row .col {
    width: 50%;
    padding: 0 30px;
    flex: 1 0 400px;
}

.section .row.flex-col {
    flex-direction: column;
}

.primary-btn {
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 9px;
    padding: 10px 15px;
    transition: var(--transition);
}

.primary-btn:hover {
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
}

#header {

}

#header .row {

}

#header .row .logo,
#footer .row .logo {

}

#header .row .nav {

}

#header .row .nav a {

}

#header .row .nav a:hover {

}

#footer {

}

#footer .row {

}

#footer .row p {

}




#hero {

}

#hero .subheadline {
    margin: 20px 0;
}

#hero .sub {
    font-size: 26px;
    color: var(--white);
    opacity: 0.5;
}

#hero .focus {
    font-size: 26px;
    color: var(--white);
    font-weight: 700;
    opacity: 1;
}

#hero .form-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 20px 0 0 0;
}

#hero .form-wrapper input {
    flex: 1;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px none var(--black);
    border-radius: 9px;
    height: 60px;
    outline: none;
    
    font-size: 18px;

    transition: background-color 200ms ease;
}

#hero .form-wrapper input:focus {
    background-color: hsla(0, 0%, 100%, 0.25);
    color: #fff;
}

#hero .form-wrapper input.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    transition: var(--transition);
}

#hero .form-wrapper input.primary-btn:hover {
    transform: scale(1.02);
}

#hero .logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#hero .logo-wrapper img {
    max-width: 200px;
    width: 100%;
    height: auto;
    opacity: 0.5;
}








#review .row,
#review .row .col {
    padding: 0;
}

#review .col:nth-child(1) {
    padding-right: 30px;
}

#review .col:nth-child(2) {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#review p {
    opacity: 1;
}

#review .review-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
}

#review .video-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
}

#review .review-quote {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
}

#review .focus {
    color: var(--primary);
    font-size: 40px;
    font-weight: 700;
}

#review .review-author {
    font-size: 18px;
    color: var(--white);
    opacity: 0.5;
}