@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary: #0167ff;
    --secondary: #01c9f5;
    --white: #fff;
    --black: #000;
    --box-shadow: 20px 0 60px rgb(14 27 56 / 15%);
    --box-shadow-dark: 0px 6px 15px 5px rgb(14 27 56 / 30%);
    --transition: all .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* TEXT */
h1 {
    font-weight: 800;
    font-size: 52px;
    color: var(--black);
    line-height: 1.2;
    margin-bottom: 16px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 16px;
}

h3 {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 16px;
}

h4 {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 16px;
}

p,
ul {
    font-size: 14px;
    margin-bottom: 16px;
}

a {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

ul li:before {
    content: "✓";
    color: var(--secondary);
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}

.small-headline {
    color: var(--primary);
    font-weight: 700;
    font-size: 18px;
}

.focus-text {
    font-weight: 700;
    color: var(--primary);
}

/* BUTTONS */
.primary-btn {
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 9px;
    padding: 10px 15px;
    transition: var(--transition);
}

.primary-btn:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
}

/* HEADER */
.topnav {
    width: 100%;
    position: fixed;
    background-color: #0e1b38;
    z-index: 9;
}

.topnav .header-col a:hover {
    cursor: pointer;
}

.topnav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    max-width: 1600px;
    margin: 0 auto;
}

.topnav-content-sm,
.small-menu-wrapper {
    display: none;
}

.topnav-content a {
    margin: 0 20px;
    color: var(--white);
}

.topnav-content a:hover {
    text-decoration: underline;
}

.topnav .header-col {
    text-align: center;
    display: flex;
    align-items: center;
}

.topnav .header-col:nth-child(1) {
    width: fit-content;
    justify-content: flex-start;
    margin-left: 0;
}

.topnav .header-col:nth-child(2) {
    width: 50%;
    text-align: left;
}

.topnav .header-col:nth-child(3) {
    width: 30%;
    justify-content: flex-end;
}

.topnav-content a.icon {
    display: none; /* Hide on default */
}

#header-logo {
    width: 100px;
    height: auto;
}

/* SECTIONS, ROWS & COLUMNS */
.section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
}

.row.row-reverse {
    flex-direction: row-reverse;
}

.row.flex-col {
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 30px;
}

.center-text {
    text-align: center;
}

.center-content {
    margin-right: auto;
    margin-left: auto;
}

#hero-section {
    background-color: var(--white);
    color: var(--black);
    position: relative;
    overflow: hidden;
}

#hero-section .row {
    max-width: 1600px;
}

#hero-section .hero-right-circles {
    width: 700px;
    height: 700px;
    background: black;
    line-height: 800px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: -180px;
    top: -320px;
    z-index: 9;
    opacity: 0.1;
}

#hero-section .hero-right-circles:before {
    width: 100%;
    height: 100%;
    background: black;
    line-height: 100%;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    content: '';
    z-index: -4;
    right: 15%;
    top: 30%;
    opacity: 0.65;
    -webkit-animation: customSlideInRight linear 1.5s both;
    animation: customSlideInRight linear 1.5s both;
}

#hero-section .hero-right-circles:after {
    width: 100%;
    height: 100%;
    background: black;
    line-height: 100%;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    content: '';
    z-index: -3;
    right: 5%;
    top: 15%;
    opacity: 0.55;
    -webkit-animation: customSlideInRight linear 1s both;
    animation: customSlideInRight linear 1s both;
}

#cta-section .row {
    background-color: #fafafa;
    padding: 30px;
    box-shadow: 0 7px 7px 0 rgb(34 43 55 / 15%);
    border-radius: 9px;
}

#cta-section .row p {
    font-size: 24px;
    margin-bottom: 0;
}

#cta-section .row .col:nth-child(1) {
    width: 70%;
}

#cta-section .row .col:nth-child(2) {
    width: 30%;
    flex-direction: row;
    justify-content: center;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.services-wrapper {
    border: 1px solid #eeeff1;
    border-radius: 9px;
    padding: 40px;
    text-align: center;
    transition: var(--transition);
}

.services-wrapper h3 {
    margin-top: 20px;
}
.services-wrapper:hover {
    border: 2px solid var(--primary);
    transition: var(--transition);
}

/* TECHNOLOGIES */
#technologies {
    background-color: #f8f9fa;
}

.technologies-wrapper  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.technologies-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 20%;
    width: 20%;
    padding: 25px;
    border: 2px solid transparent;
    border-radius: 7px;
    margin: 30px;
    background-color: var(--white);
}

.technologies-item img {
    max-height: 100px;
    max-width: 70px;
    width: auto;
}

.technologies-item:hover {
    border: 2px solid var(--primary);
    transition: var(--transition);
}

/* REVIEWS */
.reviews-wrapper-right {
    display: flex;
    flex-direction: column;
}

.reviews-content-box {
    margin-top: 40px;
}

.reviews-quote {
    color: var(--primary);
    font-size: 22px;
}

.reviews-quote:before {
    content: "\f10d";
    margin-right: 5px;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    font-size: 16px;
    display: inline-block;
    color: #0066ff;
    font-family: "FontAwesome";
}

.reviews-quote:after {
    content: "\f10e";
    margin-left: 5px;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    font-size: 16px;
    display: inline-block;
    color: #0066ff;
    font-family: "FontAwesome";
}

.reviews-name {
    color: #1e266d;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.reviews-position {
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
}

/* CONTACT FORM */
.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 80px;
    width: 60%;
    margin: 0 auto;
    box-shadow: var(--box-shadow-dark);
}

.contact-form-wrapper h2,
.contact-form-wrapper p {
    text-align: center;
}

.contact-form-wrapper input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 9px;
    border: 1px solid var(--primary);
    font-size: 18px;
}

.contact-form-wrapper input:focus-visible {
    border: 3px solid var(--primary);
    outline: none;
}

.contact-form-wrapper #gdpr {
    width: fit-content;
}

.contact-form-wrapper .primary-btn {
    margin-top: 20px;
    padding: 15px 0;
}

/* FOOTER */
#footer {
    width: 100%;
    background-color: #0e1b38;
    color: var(--white);
    z-index: 5;
    position: relative;
    overflow: hidden;
}

#footer ul {
    display: flex;
    flex-direction: row;
}

#footer ul li:before {
    content: '';
}

#footer .row {
    max-width: 1000px;
}

#footer .footer-nav-row {
    border-top: 1px solid #323d56;
    padding-top: 20px;
}

#footer .footer-nav-row .col a {
    color: var(--white);
    opacity: 0.5;
}

#footer .footer-nav-row .col a:hover {
    color: var(--white);
    opacity: 1;
}

#footer .footer-nav-row .col p {
    color: var(--white);
    opacity: 0.5;  
}

#footer .footer-nav-row .col:nth-child(1) {
    margin-left: 0;
}

#footer .footer-nav-row .col:nth-child(2) {
    margin-right: 0;
    text-align: right;
}

#footer::after {
    content: '';
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    -webkit-filter: blur(150px);
    filter: blur(150px);
    -webkit-transform: translate(40%, 0);
    -ms-transform: translate(40%, 0);
    transform: translate(40%, 0);
    width: 300px;
    height: 300px;
    background: #0066ff;
    line-height: 400px;
    border-radius: 50%;
    text-align: center;
}


@media all and (max-width: 540px) {
    .topnav .header-col:nth-child(1) {
        width: 30%;
        justify-content: flex-start;
        margin-left: 20px;
    }
    
    .topnav .header-col:nth-child(2) {
        width: 70%;
        text-align: right;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .topnav-content-sm .header-col .icon {
        font-size: 28px;
    }

    .topnav-content {
        display: none;
    }

    .hero-right-circles {
        display: none;
    }

    .topnav-content-sm {
        display: flex;
    }

    .small-menu-wrapper {
        background-color: var(--white);
        box-shadow: var(--box-shadow-dark);
    }

    .small-menu-wrapper.active {
        display: flex;
    }

    .small-menu-content  {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        padding: 10px 0;
    }

    #menu-toggle {
        color: var(--white);
    }

    .row {
        flex-direction: column;
        margin: 30px auto;
    }

    .row.row-reverse {
        flex-direction: column-reverse;
    }

    .col {
        width: 100%;
        padding: 0 30px;
    }

    .row.flex-col {
        padding: 0 30px;
    }

    h1 {
        font-size: 36px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 24px;
    }

    p {
        text-align: center;
    }

    .reviews-quote {
        font-size: 16px;
    }

    .reviews-name {
        font-size: 16px;
    }

    .reviews-position {
        font-size: 12px;
    }

    .small-headline {
        font-size: 16px;
        text-align: center;
    }

    .primary-btn {
        margin: auto auto;
    }

    img:not(#header-logo) {
        max-width: 100%;
        margin: 40px auto;
    }

    .services-wrapper {
        margin: 30px auto;
    }

    .services-wrapper:nth-child(1) {
        margin-top: 0;
    }

    .services-wrapper:nth-child(3) {
        margin-bottom: 0;
    }

    .services-wrapper .services-img {
        margin: 10px auto!important;
    }

    .services-wrapper h3 {
        margin-top: 0;
        font-size: 20px;
    }

    .technologies-wrapper {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .technologies-item {
        margin: 10px!important;
        padding: 10px;
        width: 40%;
        flex: 1 1 40%;
    }

    .hide-sm {
        display: none;
    }

    #about .row .col img {
        display: none;
    }

    #contact {
        padding: 0 30px;
    }

    #cta-section {
        display: none;
    }

    .margin-bottom-20 {
        margin-bottom: 0;
    }

    .margin-top-20 {
        margin-top: 0;
    }

    .contact-form-wrapper {
        width: 100%;
        padding: 30px;
    }

    .contact-form-wrapper input {
        font-size: 16px;
    }

    .contact-form-wrapper form label {
        font-size: 12px;
    }

    #footer .row.footer-nav-row .col {
        margin: 0;
    }

    #footer .row.footer-nav-row .col ul li:before {
        margin-right: 0;
    }

    #footer .row.footer-nav-row a {
        margin: 0 5px;
    }

    #footer .row.footer-nav-row a:nth-child(1) {
        margin-left: 0;
    }

    #footer .row.footer-nav-row .col p {
        text-align: left;
    }
}

@media all and (max-width: 860px) {

}


@media all and (min-width: 1600px) {
    p,
    a,
    ul {
        font-size: 16px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .small-headline {
        font-size: 22px;
    }

    .row {
        max-width: 1600px;
    }
}