/* BANNER SECTION */
.banner {
    background-image: url('https://www.unifiedinfotech.net/assets/images/Clutch-Banner-Image@4x.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner,
.banner .row {
    min-height: 80vh;
}

.banner h1,
.banner p {
    color: var(--white);
    max-width: 60%;
}

.banner .row.flex-col {
    gap: 20px;
    align-items: flex-start;
}

/* LOGO SECTION */
.logos.section.grey {
    background-color: var(--background-accent);
}

.logos,
.logos .row {
    min-height: unset;
}

.logos .row {
    margin: 20px auto;
}

.logos .row .wrapper {
    align-items: center;
}

.logos .row .wrapper .item img {
    max-width: 150px;
}



/* ABOUT SECTION */




/* SERVICES SECTION */
.services {
    background-color: var(--light-grey);
}

.services .wrapper {
    gap: 40px;
}

.services .wrapper .item {
    align-items: center;
    padding: 30px;
    border-radius: 26px;
    box-shadow: var(--boxShadow);
}

.services .wrapper .item img {
    max-width: 75px;
}

.services .wrapper .item h3 {
    font-size: 24px;
}


/* PROCESS */
.process .wrapper {
    width: 60%;
}

.process .wrapper .item {
    gap: 0;
}

.process .wrapper .item:nth-of-type(1) {
    flex: 1 0 20%;
}

.process .wrapper .item:nth-of-type(2) {
    flex: 1 0 75%;
    display: flex;
    flex-direction: row;
}

.process .wrapper .item .container:nth-child(1) {
    flex: 1 0 30%;
}

.process .wrapper .item .container:nth-child(2) {
    flex: 1 0 65%;
}

.process .wrapper .item .container {
    background-image: url('/home/img/process-background.svg');
}

.process .wrapper .item .container img {
    padding: 30px;
    border-radius: 50px;
}


/* VIDEO REVIEW SECTION */
.review .video-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 26px;
}

.review .review-quote {
    font-weight: 700;
}

.review .focus {
    color: var(--primary);
    font-weight: 700;
}

.review .review-quote,
.review .focus {
    font-size: 46px;
}

.review .review-author {
    font-size: 18px;
    opacity: 0.5;
}

/* CONTACT */
.section.contact {
    background-color: var(--light-grey);
}

.section.contact .row.flex-col {
    align-items: flex-start;
}

.section.contact {
    background-image: url('https://www.unifiedinfotech.net/assets/images/us-office@4x.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.section.contact .form-wrapper {
    display: flex;
    width: 40%;
    padding: 30px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: var(--boxShadow);
}

.section.contact .form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.section.contact .form-wrapper input {
    color: var(--black);
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: none;
    border-bottom: 1px solid var(--background-accent);
    border-radius: 0;
    height: 60px;
    outline: none;
    font-size: 18px;
    transition: border-bottom 200ms ease;
}

.section.contact .form-wrapper input:focus {
    transition: border-bottom 200ms ease;
    border-bottom: 2px solid var(--primary);
}

.section.contact .form-wrapper .btn {
    color: var(--white);
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: border-bottom 200ms ease;
    transition: var(--transition);
    margin-top: 20px;
    border-radius: 12px;
}

.section.contact .form-wrapper .btn:hover {
    transform: scale(1.02);
}