.section h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 0 0;
}

.form-wrapper input {
    flex: 1;
    width: 100%;
    padding: 16px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px none var(--black);
    border-radius: 9px;
    height: 60px;
    outline: none;
    font-size: 18px;
    color: var(--white);
    transition: background-color 200ms ease;
}

.form-wrapper input:focus {
    background-color: hsla(0, 0%, 100%, 0.25);
    color: var(--white);
}

.form-wrapper input.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    transition: var(--transition);
    margin-top: 0!important;
}

.form-wrapper input.primary-btn:hover {
    transform: scale(1.02);
}