#hero .row {
    justify-content: center;
}

#hero h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

#hero h1,
#hero p {
    text-align: center;
}

#hero .filter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: var(--light-grey);
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 9px;
}

#hero .filter-wrapper a {
    color: var(--primary-faded);
    font-weight: 700;
    text-decoration: none;
}

#hero .filter-wrapper a.active {
    color: var(--primary);
    text-decoration: underline;
}

#hero .filter-wrapper a:hover {
    text-decoration: underline;
}

#content .row {
    flex-flow: row wrap;
    gap: 20px;
}

#content .case-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 300px;
}

#content .case-wrapper {
    background-color: var(--white);
    border-radius: 12px;
}

#content .case-wrapper img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#content .case-wrapper .content {
    padding: 10px 20px;
}

#content .case-wrapper h3 {
    font-weight: 700;
    margin-bottom: 5px;
}

#content .case-wrapper p {
    color: var(--black);
    margin-bottom: 15px;
}

#content .case-wrapper a {
    color: var(--primary);
    transition: var(--transition);
    text-decoration: none;
}

#content .case-wrapper a:hover {
    transition: var(--transition);
    text-decoration: underline;
}