.banner.section h1,
.banner.section p {
    max-width: 50%;
}

.content.section,
.content.section .row {
    min-height: fit-content;
}

.content.section .row {
    max-width: 60%;
}

.content.section .row .container {
    padding: 60px;
    background-color: var(--light-grey);
    border-radius: 26px;
}

.content.section .row h2 {
    font-size: 36px;
}

.content.section .row h3 {
    font-size: 30px;
    color: #444;
    margin: 10px 0 20px 0;
}

.content.section p,
.content.section ul, 
.content.section ol,
.content.section ul,
.content.section li {
    line-height: 1.8;
}

.content.section .row .container ul,
.content.section .row .container ol {
    padding-left: 40px;
}

.content.section .row .container .bold {
    font-weight: 700;
    margin-top: 10px;
}

.projects.section {
    display: none;
}

@media (max-width: 560px) {
    .section .row {
        padding: 0 30px;
    }

    .banner.section h1, 
    .banner.section p {
        max-width: 100%;
    }

    .banner.section h1 {
        font-size: 36px;
    }

    .content.section .row {
        max-width: 100%;
    }

    .content.section .row .container {
        width: 100%;
        padding: 30px;
    }

    .content.section .row h2 {
        font-size: 28px;
    }

    .content.section .row h3 {
        font-size: 24px;
        margin-top: 20px;
    }
}