/* BANNER SECTION */
.banner {
    background-image: url('/img/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner,
.banner .row,
.banner .overlay {
    min-height: 80vh;
    height: 80vh;
}

.banner h1,
.banner p {
    color: var(--white);
    max-width: 70%;
}

.banner .row.flex-col {
    gap: 20px;
    align-items: flex-start;
}

@media (max-width: 560px) {
    .banner,
    .banner .row {
        min-height: fit-content;
    }
}