.section.content .row {
    gap: 40px;
    align-items: flex-start;
}

.section.content .sidebar {
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
}

.section.content .sidebar .wrapper {
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 26px;
    box-shadow: var(--boxShadow);
    background-color: var(--light-grey);
}

.section.content .sidebar .wrapper h3 {
    margin-bottom: 10px;
}

.section.content .focus {
    color: var(--primary);
    font-weight: 700;
}

.section.content.blog .main {
    flex: 1 0 100%;
}

.section.content.blog .main .wrapper {
    width: 60%;
    margin: 0 auto;
}

.section.content.blog .main .wrapper h2 {
    font-size: 32px;
    margin-top: 40px;
}

.section.content.blog .main .wrapper h3 {
    font-size: 26px;
    margin-top: 20px;
}

.section.content .main {
    flex: 1 0 75%;
    display: flex;
    flex-direction: column;
}

.section.content .main .wrapper {
    flex-direction: column;
}

.section.content .main .wrapper {
    gap: 20px;
}

.section.content .main .wrapper img {
    width: 60%;
    margin: 40px 0;
    border-radius: var(--borderRadius);
}

.section.content .main .wrapper img.full {
    width: 100%;
    margin: 20px 0;
}

.section.content .main .wrapper .review-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 40px auto;
    padding: 30px;
    border-radius: var(--borderRadius);
    background-color: var(--light-grey);
}

.section.content .main .wrapper .review-wrapper .review-col {
    flex: 1 0;
    display: flex;
    flex-direction: column;
}

.section.content .main .wrapper .review-wrapper .review-col.review-text {
    flex: 2 0;
}

.section.content .wrapper .review-col.review-image img {
    width: 100%;
    margin: 0;
}

.review-col.review-text .review-body {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
} 



@media (max-width: 560px) {
    .section.content .sidebar {
        display: none;
    }

    .section.content .main {
        flex: 1 0 100%;
    }

    .section.banner h1 {
        font-size: 28px
    }

    .section.content .wrapper h2 {
        font-size: 24px;
    }

    .section.content .row {
        padding: 0 30px;
    }

    .section.content .main .wrapper .review-wrapper {
        flex-direction: column;
    }

    .section.content.blog .main .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}