/* BANNER SECTION */
.banner {
    background-image: url('/img/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner,
.banner .row {
    min-height: 50vh;
}

.banner h1,
.banner p {
    color: var(--white);
    max-width: 70%;
}

.banner h1 {
    font-size: 44px;
}

.contact.section .row {
    max-width: 100%;
}

.container.aside .wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    align-items: center;
}

.container.aside .wrapper .item {
    flex: 1 0;
}

.container.aside .wrapper .item p {
    font-weight: 600;
}

.banner .row.flex-col {
    gap: 20px;
    align-items: flex-start;
}

@media (max-width: 560px) {
    .banner,
    .banner .row {
        min-height: fit-content;
    }
}